<div class="sidebar" [class.open]="isSidebarOpen">
  <div class="sidebar-header">
    <h3>G1Ensitech</h3>
    <button (click)="toggleSidebar()" class="toggle-btn">
      <i
        class="fas"
        [class.fa-bars]="!isSidebarOpen"
        [class.fa-times]="isSidebarOpen"
      ></i>
    </button>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a routerLink="/students" routerLinkActive="active">
        <i class="fas fa-user-graduate"></i> Étudiants
      </a>
    </li>
    <li>
      <a routerLink="/teachers" routerLinkActive="active">
        <i class="fas fa-chalkboard-teacher"></i> Enseignants
      </a>
    </li>
    <li>
      <a routerLink="/courses" routerLinkActive="active">
        <i class="fas fa-book"></i> Cours
      </a>
    </li>
    <li>
      <a routerLink="/grades" routerLinkActive="active">
        <i class="fas fa-chart-line"></i> Notes
      </a>
    </li>
    <li>
      <a routerLink="/statistics" routerLinkActive="active">
        <i class="fas fa-chart-pie"></i> Statistiques
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <i class="fas fa-cogs"></i> Paramètres
      </a>
      <!-- Section de gestion des utilisateurs -->
      <app-user-management></app-user-management>
    </li>
  </ul>
</div>
