<div class="app-container">
  <!-- Barre de navigation -->
  <header role="banner">
    <app-header></app-header>
  </header>

  <!-- Menu latéral visible seulement si l'utilisateur est authentifié -->
  <nav role="navigation" *ngIf="authService.isAuthenticated">
    <app-sidebar></app-sidebar>
  </nav>

  <!-- Contenu principal de l'application -->
  <main role="main">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Pied de page -->
  <footer role="contentinfo">
    <app-footer></app-footer>
  </footer>
</div>
